# Heat template parameters
parameters:
  private_net_name: "{{ heat_validation_private_net_name }}"
  private_subnet_name: "{{ heat_validation_private_subnet_name }}"
  private_net_cidr: "{{ heat_validation_private_net_cidr }}"
  public_net_name: "{{ heat_validation_public_net_name }}"
  public_subnet_name: "{{ heat_validation_public_subnet_name }}"
  public_physical_network: "{{ heat_validation_public_physical_network }}"
  public_network_type: "{{ heat_validation_public_net_type }}"
  public_net_cidr: "{{ heat_validation_public_net_cidr }}"
  public_net_gateway: "{{ heat_validation_public_net_gateway }}"
  public_net_pool_start: "{{ heat_validation_public_net_pool_start }}"
  public_net_pool_end: "{{ heat_validation_public_net_pool_end }}"
